.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:55px;
    width:72px;
    background-color:white;
    padding-top:15px;
}


.sidebar-link{
   height:72px;
   display: flex;
   justify-content:center;
   align-items:center;
   flex-direction: column;
}

.sidebar-link:hover{
    background-color:rgb(225, 215, 215);
    justify-content:  center;
}

.sidebar-link img{
    height:24px;
    margin-bottom:7px;
    margin-top:14px;
   
}

.sidebar-link div{
    font-family:Arial;
    font-size:10px;
    padding-bottom:20px;
   
}